---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Comment from "../components/Comment.astro";
const pageTitle = "About Me"
const identity = {
    firstName: "coderpwh",
    country: "china",
    occupation: "coder",
    hobbies: ["coder","cycling","mountain climbing","reading books","american tv"]
};

const skills = ["rust","kotlin","go","web","xposed"];


const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>

    <style define:vars={{skillColor,fontWeight,textCase}}>
        h1 {
            color: purple;
            font-size: 4rem;
        }

        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>

    <h2>My name is {identity.firstName}.</h2>
    <p>I am interested in web development.I want to learn web3.</p>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        <li>{
            'my hobbies are: ' + identity.hobbies.join(',')
        }</li>
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <Comment />
</BaseLayout>

